titulo {
    display: flex;
    justify-content:space-between ;
    background-color: rgb(40, 70, 45);
}

titulo > img {
    height: 110px;
    width: 90px;
}

titulo > nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 400px;
}

titulo nav> a {
    text-decoration: none;
    color: rgb(215, 219, 156);
}

titulo nav> a:hover {
    color:rgb(240, 17, 17)
}

principal {
  border: 5px;
}

.principal {
    display: flex;
    height: 600px;
    border: 0px;
}

.principal > section {
    flex: 5;
    background-color: rgb(64, 92, 55);
    border-radius: 0px;
}

.principal > aside {
    flex: 1;
    background-color: rgb(27, 63, 35);
}

.principal > name {
  width: 50px;
}

footer {
    background-color: rgb(40, 70, 45);
    height:100px ;
    text-align: center;
    padding-top: 100px;
}

.box1 { 
    background-color: rgb(40, 70, 45);
    height: 150px;
    width: 900px;
    margin-left: 220px;
  }

  #nome, section {
    width: 700px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }
  
  #endereco, section {
    width: 600px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }

  #cidade, section {
    width: 220px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }

  #estado, section {
    width: 180px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }

  .box2 {
    background-color: rgb(40, 70, 45);
    height: 150px;
    width: 900px;
    margin-left: 220px;
  }

  #local, section {
    width: 600px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }

  #formação, section {
    width: 500px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }

  #especialização, section {
    width: 400px;
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
  }







  input[type=submit], section {
    width: 100px; 
    padding: 5px 5px;
    margin: 8px 0;
    border-radius: 4px;
  }