
titulo {
    display: flex;
    justify-content:space-between ;
    background-color: rgb(40, 70, 45);
}

titulo > img {
    height: 110px;
    width: 90px;
}

titulo > nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 400px;
}

titulo nav> a {
    text-decoration: none;
    color: rgb(215, 219, 156);
}

titulo nav> a:hover {
    color:rgb(240, 17, 17)
}




.principal {
    display: flex;
    height: 600px;
    border: 0px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.principal > section {
    flex: 5;
    background-color:  rgb(64, 92, 55);
}

.principal > aside {
    flex: 1;
    background-color: rgb(113, 150, 93);
}

.principal > name {
  width: 50px;
}

footer {
    background-color: rgb(40, 70, 45);
    height:100px ;
    text-align: center;
    padding-top: 100px;
}

